@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    margin: 1em 15em 1em 15em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    width: 100%;
    align-items: center;
}

.menu {
    width: 2.3em;
    cursor: pointer;
    margin-right: 2rem;
    stroke: black;
    display: none;
  }

.close {
    display: none;
}

span {
    color: rgb(255, 89, 0);
}

.navbar > ul > li > a{
    position: relative;
    text-decoration: none;
    margin-left: 2em;
    color: black;
}

.navbar > ul > li {
    list-style: none;
}

.navbar > ul {
    display: flex;
}

.navbar ul > li > a::after {
    content: '';
    position: absolute;
    background-color: rgb(255, 89, 0);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
    transition: .3s;
}

.navbar ul > li > a:hover::after {
    width: 100%;
}

.login-register a {
    text-decoration: none;
    margin-right: 2em;
    color: black;
}

#btn {
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: rgb(255, 89, 0);
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#btn:hover {
    background-color: rgba(255, 94, 0, 0.8);
}

.wrapper {
    height: 65vh;
}

.intro {
    width: 40%;
    margin: 30vh 1em 0 1em;
}

.intro h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: -1rem;
}

.intro p.desc {
    font-size: 1.5rem;
    font-weight: bold;
}

.big-img {
    position: absolute;
    background: url('bmw.png');
    width: 60%;
    height: 60vh;
    background-size: cover;
    z-index: -1;
    top: 17vh;
    left: 0;
    transform: translateX(65%);
}

.desc {
    margin-bottom: 0;
}

.btns {
    display: flex;
}

button.one {
    border: none;
    margin: 1vh 10px 0 0;
    padding: 1em 2em;
    border-radius: 5px;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 89, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button.two {
    border: none;
    margin: 1vh 0 0 0;
    padding: 1em 2em;
    border-radius: 5px;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
}

button.one:hover {
    background-color: rgba(255, 94, 0, 0.8);
}

button.two:hover {
    background-color: rgb(56, 55, 55);
}

.pick-car {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 8em;
    font-size: 1.2rem;
    width: 100%;
    height: 40vh;
}

.border {
    width: 100%;
    height: 40vh;
}

.icon {
    color: rgba(255, 94, 0, 0.8);
    position: absolute;
    margin-top: .3rem;
    margin-left: -2rem;
}

.inputs {
    border: none;
    font-size: 1rem;
    color: rgb(174, 168, 168);
    font-family: Poppins, sans-serif;
    width: 80%;
    margin: 1em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text {
    margin-left: 2rem;
}

.search {
    border: none;
    margin-top: 6vh;
    padding: 1.3em 6em;
    border-radius: 5px;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 89, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
}

.desc3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.desc2 {
    color: rgb(174, 168, 168);
}

.icons2 {
    font-size: 3em;
    color:  rgb(255, 89, 0);
}

.sugestions-intro {
    text-align: center;
    margin: 15vh auto 10vh auto;
}

.sugestions {
    display: flex;
    align-items: center;
    text-align: center;
    position:relative;
    justify-content: space-between;
    
}

.grid-sugestions {
    width: 20%;
}

.car-img {
    width: 100%;
}

.car-div {
    width: 40%;
    height: 45vh;
    display: block;
}

.models {
    display: flex;
    justify-content: space-between;
}

.list button{
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    padding: 1.5em 2em;
    display: block;
    color: black;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.list button:hover {
    background-color: rgb(255, 89, 0);
    color: white;
}

.list li {
    list-style-type: none;
}

.table , td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: .5em 1.5em;
}

.table th {
    background-color: rgb(255, 89, 0);
    padding: .5em 1.5em;
    border: 1px solid rgb(255, 89, 0);
    color: white;
    width: 100%;
}

.table {
    width: 100%;
}

.table td {
    width: 50%;
}


.table-div button {
    border: none;
    margin-top: 3.5vh;
    padding: 1.3em 6.8em;
    border-radius: 5px;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 89, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.strip {
    background-color: rgb(23, 22, 22);
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 12vh;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 2.3rem;
}

.strip h1 {
    font-size: 3rem;
    color: white;
}

.strip p {
    font-size: 1.8rem;
    color: white;
}

.choose-us {
    height: 100vh;
    margin-top: 35vh;
    width: 100%;
}

.choose-us img {
    width: 80%;
    text-align: center;
    display: block;
    margin: auto;
}

.choose-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.choose-flex section {
    width: 40%;
}

.choose-flex section h1 {
    font-size: 2.6rem;
    line-height: 3rem;
}

.list-us {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.list-us ion-icon {
    font-size: 5rem;
    width: 20%;
    margin-right: 3rem;
    color: rgb(255, 89, 0);
    margin-top: 1.5rem;
}

.testimonials {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(236, 232, 232, 0.448);
    height: 80vh;
}

.testimonials > div { 
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10vh;

}

.test-intro {
    width: 40%;
}

.test-intro > .desc3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.test-intro > h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 2.5rem;
}

.person {
    background-color: white;
    width: 45%;
    height: 30vh;
    box-shadow: 5px 5px 5px rgba(53, 52, 52, 0.19);
}


.margin {   
    display: flex;
    width: 60%;
}

.personal-test {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin: 1em 2em 1em 2em;
    height: 15vh;
}

.img-name {
    width: 100%;
    display: flex;
}


.img-name img {
    border-radius: 50%;
    width: 17%;
    height: 17%;
    margin-left: 2em;   
}

.img-name > p {
    text-align: left;
    margin-left: 2em;
}

.img-name > p > span {
    font-weight: bold;
    color: black;
}

.icons3 {
    font-size: 4rem;
    width: 20%;
    margin-left: 6rem;
    color: rgb(255, 89, 0);
    margin-top: .8rem;
}

.faq {
    margin: 90vh auto 0 auto;
    height: 80vh;
}

.faq-intro {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.faq-intro > h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 2.5rem;
}

.faq-intro > .desc3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.faq-quests {
    width: 60%;
    margin: 10vh auto 10vh auto;
    box-shadow: 2px 2px 2px rgba(53, 52, 52, 0.19);
}

.faq-quests > div > button {
    width: 100%;
    border: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
}


.hide {
    display: none;
    margin: 1em 2em 0em 2em;
    padding-bottom: 3em;
}

.final-section {
    display: flex;
    justify-content: space-between;
}

.final-section > div {
    width: 20%;
    font-size: 1.2rem;
    margin: 10vh auto 5vh auto;
}

.final-section li {
    list-style: none;
}

.final-section li a {
    text-decoration: none;
    color: black;
}

.final-section li a:hover {
    text-decoration: none;
    color: rgb(255, 89, 0);;
}


@media only screen and (max-width: 680px) {
    .navbar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 999;
        text-transform: uppercase;
        display: none;
        background-color: white;
    }

    .navbar > ul > li {
        font-size: 1.5rem;
        margin: 2vh auto;
        align-items: center;
        text-align: center;
    }

    .navbar > ul {
        margin: 15vh auto 15vh auto;
        display: block;
    }

    .menu {
        color: orange;
        display: block;
        stroke: black;
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
        cursor: pointer;
        display: block;
      }

      header svg path {
        fill: black;
    }

    .login-register{
        display: none;
    }

    body {
        margin: 0;
    }

    .big-img {
        display: none;
    }

    .wrapper {
        height: 70vh;
    }

    .intro {
        display: block;
        margin: 25vh auto;
        text-align: center;
        width: 90%;
    }

    .btns {
        align-items: center;
        display: block;
    }

    .pick-car {
        display: block;
        margin: 0 auto;
        align-items: center;
        height: 100vh;
    }

    .border {
        margin-bottom: -10vh;
        text-align: center;
    }
    
    .border > p {
        text-align: left;
        margin-left: 5rem;
    }

    .sugestions {
        display: block;
    }

    .grid-sugestions {
        width: 90%;
        margin: 0 auto;
    }

    .models {
        display: block;
    }

    .car-div {
        width: 100%;
        margin-top: 5vh;
    }

    .table {
        width: 90%;
        margin: 0 auto;
    }

    .table-div > button {
        width: 90%;
        margin: 5vh auto;
        display: block;
    }

    .strip > h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .strip > p {
        font-size: 1.2rem;
    }

    .choose-us {
        margin-top: 50vh;
    }

    .choose-flex {
        display: block;
    }

    .choose-flex > section {
        width: 90%;
        margin: 0 auto;
    }

    .center {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .testimonials {
        margin-top: 30vh;
        height: 90vh;
    }

    .test-intro {
        width: 90%;
    }

    .person {
        width: 100%;
    }

    .margin {
        width: 90%;
    }

    #nando {
        display: none;
    }

    .faq {
        margin-top: 130vh;
    }

    .faq-intro {
        width: 90%;
    }

    .faq-quests {
        width: 90%;
    }
    
    .final-section {
        display: block;
        width: 100%;
    }

    .final-section > div {
        width: 90%;
        text-align: center;
    }

    #book {
        margin-top: 20vh;
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 681px) {
    
    .navbar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 999;
        text-transform: uppercase;
        display: none;
    }

    .navbar > ul > li {
        font-size: 1.5rem;
        margin: 2vh auto;
        align-items: center;
        text-align: center;
    }

    .navbar > ul {
        margin: 15vh auto 15vh auto;
    }

    .menu {
        color: orange;
        display: block;
        stroke: black;
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
        cursor: pointer;
      }

      header svg path {
        fill: black;
    }
    

    header svg {
        color: orange;
        display: block;
        stroke: black;
    }

      header svg path {
        fill: black;
    }

    .login-register{
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .big-img {
        display: none;
    }

    .wrapper {
        height: 70vh;
        width: 100%;
        padding: 0;
    }

    .intro {
        display: block;
        width: 60%;
        text-align: center;
        margin: 25vh auto;
    }

    .btns {
        align-items: center;
        display: block;
    }

    .pick-car {
        margin: 15vh auto;
        align-items: center;
    }

    .border {
        text-align: center;
    }
    
    .border > p {
        text-align: left;
        margin-left: 5rem;
    }

    .sugestions {
        display: block;
    }

    .grid-sugestions {
        width: 60%;
        margin: 0 auto;
    }

    .models {
        display: block;
    }

    .car-div {
        width: 70%;
        margin-top: 5vh;
        margin: 0 auto;
    }

    .table {
        width: 60%;
        margin: 0 auto;
    }

    .table-div > button {
        width: 60%;
        margin: 5vh auto;
        display: block;
    }

    .strip > h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .strip > p {
        font-size: 1.2rem;
    }

    .choose-us {
        margin-top: 50vh;
    }

    .choose-flex {
        display: block;
    }

    .choose-flex > section {
        width: 60%;
        margin: 0 auto;
    }

    .center {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .testimonials {
        margin-top: 30vh;
        height: 90vh;
    }

    .test-intro {
        width: 60%;
    }

    .person {
        width: 100%;
    }

    .margin {
        width: 60%;

    }

    #nando {
        display: none;
    }

    .faq {
        margin-top: 130vh;
    }

    .faq-intro {
        width: 60%;
    }

    .faq-quests {
        width: 60%;
    }

    #book {
        margin-top: 20vh;
        margin-left: 3rem;
    }
    
}

@media only screen and (max-width: 1500px) and (min-width: 1001px) {
    body {
        margin: 0 3em 0 3em;
    }

    .testimonials {
        height: 90vh;
    }

    .margin {
        width: 90%;

    }

    .faq-quests {
        width: 80%;
    }

    .faq {
        margin-top: 100vh;
    }

    #book {
        margin-top: 20vh;
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 414px) and (min-width: 0px) {
    
    .navbar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 999;
        text-transform: uppercase;
        display: none;
        background-color: white;
    }

    .navbar > ul > li {
        font-size: 1.5rem;
        margin: 2vh auto;
        align-items: center;
        text-align: center;
    }

    .navbar > ul {
        margin: 15vh auto 15vh auto;
        display: block;
    }

    .menu {
        color: orange;
        display: block;
        stroke: black;
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
        cursor: pointer;
        display: block;
      }

      header svg path {
        fill: black;
    }
    
    
    header svg {
        color: orange;
        display: block;
        stroke: black;
    }

      header svg path {
        fill: black;
    }

    header > h2 {
        margin-left: 2rem;
    }

    .pick-car{
        height: 130vh;
    }

    .border {
        height: 40vh;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .text {
        margin-bottom: 0;
    }

    #book {
        margin-top: 20vh;
        margin-left: 3rem;
    }

    .choose-us {
        margin-top: 70vh;
    }

    
    .testimonials {
        margin-top: 110vh;
        height: 150vh;
    }

    .person {
        height: 60vh;
    }

    .faq {
        margin-top: 300vh;
    }

    .img-name {
        margin-top: 0;
    }

    .img-name ion-icon {
        display: none;
    }

    .img-name img {
        margin-left: .3rem;
        height: 13vh;
        width: 25%;
    }

    .personal-test {
        height: 30vh;
    }
}